each user in users
  tr 
    td 
      img.img-rounded(src=user.pic)
    td
      p #{user.name} @#{user.handle}
    td
      if user.id == you._id
        p='You'
      else if user.status == 'open'
        button.btn.btn-primary(target=user.id, action='startChat', "target_type"=user.type)="Start Chat"
      else if user.status == 'oncall'
        button.btn.btn-danger(target=user.id, action='endChat', "target_type"=user.type)="End Chat"

