each user in users
  tr 
    td 
      img(src=user.pic)
    td
      p #{user.name} @#{user.handle}
    td
      if user.id == you._id
        p='You'
      else
        button.btn.btn-primary(target=user.id, action='startChat')="Start Chat"
