extends ../layouts/default

block main
  .row-fluid
    .span4.padding
      #selfView.boxed.row-fluid
        twitterIcon#localTwitter.overlay_item(hidden=true)
          img.img-rounded(src=you.twitter.profile_image_url)
        video#localVideo.topleft(width="100%", height="100%", autoplay="autoplay")
      #buddylist.boxed.row-fluid
        p='WebRTC With Me Link'
        if thisIsHash
          #shortUrl.span.input-xlarge.uneditable-input=global.shortUrl + hash
        else  
          #shortUrl.span.input-xlarge.uneditable-input=global.shortUrl + you.chatUrl
        table.table.table-striped.table-bordered
          thead
            tr
              th 
              th Person
              th Action
          tbody#buddylistrows
            include list
    .span8.padding
      .row
        #statusarea.boxed(hidden="hidden")
          p="No active call"
        #chatarea.boxed
          #remoteTwitter.overlay_item
          video#remoteVideo(height="600px", autoplay="autoplay")
      .row
        #controlsarea.boxed.container
          .row-fluid
            textarea.span11#chatlog(readonly, rows="5")
          .row-fluid
            input#chatInput.span10('type'='text', 'placeholder'='Type your message here.')
            |       
            button#sendText.btn.btn-small(target="#chatInput", action="sendtext")='Send Message'
block extrajs
  script(src='/socket.io/socket.io.js');
  script(src='/js/templates.js');
  script(src='/js/require.js', data-main='/js/chat.js')
  script#users_list(type='text/json')!=JSON.stringify(users)
  script#you(type='text/json')!=JSON.stringify(you)
  if thisIsHash
    script#hash(type='text/json')!=hash

